.App {
  text-align: center;
  
  
}
.navBar {
  display: flex;
  justify-content: flex-end;
  border-bottom: 5px double darkblue;
  background-color: orange;
}

.navHeader {
  font-size: 60px;
  color: darkblue;
}

.form {
  display: flex;
  justify-content: center;
}

.form p label {
  font-size: 40px;
  vertical-align: middle;
}

.form p input {
  width: 25em;
  height: 3em;
  vertical-align: middle;
  border-radius: 10px;
  box-shadow: 3px 3px darkblue;
}

.wrapper {
  display: flex;
  
}